<form th:action="@{~/product/save}" th:object="${product}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <div class="mb-3">
        <label for="productCategoryId" class="form-label">Category</label>
        <select required class="form-select" name="categoryId" id="productCategoryId" th:field="*{categoryId}">
            <option value="" selected>Select Category</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="productName" class="form-label">Name</label>
        <input required type="text" class="form-control" name="name" id="productName" placeholder="Input Product Name"
            th:field="*{name}">
    </div>
    <div class="mb-3">
        <label for="productSlug" class="form-label">Slug</label>
        <input type="text" class="form-control" name="slug" id="productSlug" placeholder="Input Product Slug"
            th:field="*{slug}">
    </div>
    <div class="mb-3">
        <label for="productDesc">Description</label>
        <textarea class="form-control" name="description" id="productDesc" placeholder="Input Product Description"
            th:field="*{description}"></textarea>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="isDeleted" id="productIsDeleted"
            th:field="*{isDeleted}"></textarea>
        <label for="productIsDeleted">Is Deleted</label>
    </div>
    <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
</form>